.text-box h3:first-of-type {
  color: pink; 
}

#greycol {
  color: grey; 
}

.text-box div p {
  color: red; 
}

.text-box h3:last-of-type + p {
  color: green; 
}

.text-box .yellow {
  color: yellow; 
}